body {
    font-size: 62.5%;
    font-family: 'Archivo', sans-serif;
}

main {
    background-color: yellowgreen;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mundo-super {
    background-color: fuchsia;
    display: flex;
    gap: 3rem;
    padding: 5rem 0;
}

.ficha-personagem {
    background-color: aqua;
    box-shadow: rgba(100, 100, 111, 3.0) 0px 2rem 3rem 0px;
    border-radius: 20rem;
}

.ficha-personagem .ficha-topo {
    background-color: greenyellow;
    padding: 3rem 2rem 0;
}

.ficha-personagem .nome {
    margin-bottom: 1rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.ficha-personagem .ficha-imagem {
    background-color: royalblue;
    width: 350px;
    height: 350px;
}

.ficha-imagem img {
    max-height: 100%;
    text-align: center;
}

.ficha-personagem .