body {
    font-size: 62.5%;
    font-family: 'Archivo', sans-serif;
    min-height: 90vh;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.cabecalho {
    background-color: #269aff;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0px;
}

.cabecalho img {
    max-height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../imagens/super-mario-bg.jpg) no-repeat center bottom #269aff;
    background-size: 1280px;
}

.mundo-super {
    display: flex;
    gap: 30px;
    padding: 10px 0 30px;
    margin: 10px 10px 30px 2rem;
}

.ficha-personagem {
    display: none;
    box-shadow: rgba(100, 100, 111, 3.0) 0px 7px 29px 0px;
    border-radius: 20px;
    max-width: 400px;
}

.ficha-personagem .ficha-topo {
    padding: 30px 0 0;
    text-align: center;
}

.ficha-personagem .nome {
    margin-bottom: 30px;
    color: #fff;
    font-size: 2rem;
}

.ficha-personagem .ficha-imagem {
    width: 400px;
    height: 400px;
    z-index: 1;
}

.ficha-imagem img {
    max-height: 100%;
}

.ficha-personagem .ficha-infos {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: start;
}

.ficha-personagem .ficha-infos h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #858585;
}

.ficha-infos .perfil, .ficha-infos .poderes {
    padding: 0 10px;
    width: auto;
}

.ficha-infos .perfil {
    width: 30%;
}

.perfil ul li, .poderes ul li {
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.ficha-personagem.aberto {
    display: block;
}

.mario {
    background: #6e1417;
}

.luigi {
    background: #3c5311;
}

.peach {
    background: #eec0c8;
}

.toad {
    background: #21B6A8;
}

.donkey-kong {
    background: #ac735c;
}

.yoshi {
    background: #B1D8B7;
}

.wario {
    background: #705e2c;
}

.bowser {
    background: #55316e;
}

.lista-personagens {
    max-width: 200px;
    min-width: 153px;
}

.lista-personagens .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #757573;
    color: #ffffff;
    padding: 0 12px;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 10px 10px 0px;
    min-height: 78px;
    transition: 0.15s ease-in-out;
}

.lista-personagens .item:hover {
    transform: scale(1.1, 1.1);
    transform-origin: center right;
}

.lista-personagens .item img {
    width: 56px;
    border-radius: 50%;
}

.lista-personagens .item span {
    font-size: 1.1rem;
    margin-left: 10px;
    font-weight: 500;
}

.lista-personagens .item:nth-child(5) span {
    text-align: right;
}

.lista-personagens .item.ativo {
    background-color: #6AABD2;
}